<nav class="flex">
  <a routerLink="/" routerLinkActive="active">
    <i class="fas fa-long-arrow-alt-left"></i>
    Home
  </a>
</nav>

<section class="title">
  <h1>DEAT</h1>
  <h2>Dementia Environmental Assessment Tool</h2>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/ehe.png" srcset="./assets/img/deat/ehe.png" alt="First page of Dementia Assessment Tool"/>
  </picture>
</section>

<section class="single-column">
  <h3>Context</h3>
  <p>
    By joining University of Worcester's Media Lab, I got the chance to work with Association of Dementia Studies, based on campus. The problem they were facing was increasing amounts of data with no way to easily examine it. They were seeking for a better, efficient way of gathering this data to identify and create evidence-based ways of working with people living with dementia whilst protecting their privacy. This problem represented significant obstacles, and needed a solution to synthesise big amounts of data. By working together with the clients to familiarise myself with the context of this problem, I took advantage of the ubiquitous technology and responded to this challenge by building a cross-platform mobile application which would enable accessibility, and multiple uses at once.
  </p>
</section>


<section class="single-column">
  <h3>My Role</h3>
  <ul>
    <li> Finding a solution to efficiently and securely gather data for research to make evidence-based way to work with people with dementia </li>
    <li> Developing a cross-platform mobile app (iOS and Android) using Ionic 2 and CouchDB with offline data synchronisation </li>
    <li> Collaborating with the client in order to set the requirements for an app that uses the Dementia Environment Assessment Tool </li>
    <li> Designing a user experience that addresses constraints in mobile app development, and the user-group specific needs, whilst ensuring W3C accessibility compliance </li>
  </ul>
</section>

<section class="single-column">
  <h3>Considerations</h3>
  <p>
     Working with sensitive data required careful attention in regard to laws such as Data Protection Act and Computer Misuse Act: allowing people to see only the data they needed as well as ensuring that only data that was relevant to the researchers was stored. Offline capabilities were crucial as the research covered specific environments which would constraint internet availability: the solution was to enable storage on device and real-time database synchronisation. Targeted to a very specific demographic with very specific needs, this application imposed complex questions about usability, accessibility and user experience.
  </p>
</section>

<section class="single-column">
  <h3>Publication</h3>
  <p>
     The app was published on the Google Play Store. Find it <a href="https://play.google.com/store/apps/details?id=com.ionicframework.deatapp&hl=en" alt="Link to app in Google Play Store" target="_blank">here</a>. <i>The app was not published by me.</i>
  </p>
</section>
