<nav class="flex">
  <a routerLink="/" routerLinkActive="active">
    <i class="fas fa-long-arrow-alt-left"></i>
    Home
  </a>
</nav>

<section class="title">
  <h1>PotatoCon</h1>
  <h2>Mobile app for scheduling events and sending hints</h2>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/potatocon/potatocon-logo.jpg" srcset="./assets/img/potatocon/potatocon-logo.jpg" alt="PotatoCon Logo"/>
  </picture>
</section>

<section class="single-column">
  <h3>Context</h3>
  <p>
    During my internship at Potato, with feedback from admins about previous experiences, I designed and developed an app to manage events, attendees, and send hints (as location is kept secret and revealed on the day of depart) for the company's annual conference. Users can also confirm their attendance to an event and see who else is attending.
    <i><b>(The logo is not my design).</b></i>
  </p>
</section>

<section class="single-column">
  <h3>My Role</h3>
  <ul>
    <li> Designing a mobile solution based on requirements </li>
    <li> Developing a cross-platform mobile app using Ionic 2, Firebase and GoogleAuth, powered by Google Cloud Platform </li>
    <li> Manage notifications using FCM (Firebase Cloud Messaging) </li>
  </ul>
</section>

<section class="single-column">
  <h3>Preliminary Design and Requirements</h3>
  <p>I created some wireframes using Sketch and came up with the following requirements:</p>
  <ul>
    <li>Login with google (company) account</li>
    <li>Timeline of key events (lists hints before the trip)</li>
    <li>Update timeline to “today” — will be able to scroll to see other days</li>
    <li>Admins can add/send hints </li>
    <li>Admins can create/edit events </li>
    <li>Can have a maximum number of people that can attend (managed through the app)</li>
    <li>Any event added appears on timeline, as well as on the events list</li>
    <li>Users can confirm, see who’s attending, see who’s invited to the event through google calendar</li>
    <li>Integration of “who” (internal app of employees details)</li>
    <li>Users can search for someone, view profiles</li>
    <li>Push notifications for hints, new events, event updates</li>
  </ul>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/potatocon/potatocon-designs.png" srcset="./assets/img/potatocon/potatocon-designs.png" alt="First wireframes"/>
  </picture>
</section>

<section class="single-column">
  <h3>First Iteration</h3>
  <p>
    Using an iterative design approach to gain constant feedback, I created the app using Ionic and implemented the UI. After careful consideration, feedback and some usability test, important changes occured, some of them were:
  </p>
  <ul>
    <li>Increased font size and contrast for better readability</li>
    <li>Added more colour in the design - the header changed to pink instead of white</li>
    <li>The statuses (i.e. "You need to confirm") were assigned different colours to be easier to spot the different types of events</li>
  </ul>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/potatocon/potatocon-iteration1.png" srcset="./assets/img/potatocon/potatocon-iteration1.png" alt="First Design Iteration"/>
  </picture>
</section>

<section class="single-column">
  <h3>Design Rationale</h3>
  <p>
    To be able to access the app, users have to login with their company account. Once logged in, they can see a timeline with hints, and events which scrolls to the closest event to date as it goes on. Using the tab menu they can access the events view with lists of upcoming, future and past events which tells them if they need to confirm their attendance, if they have confirmed, if it is fully booked, passed, etc. The admins can add, edit, delete events and send hits (as push notifications). The event view shows a map that opens Google Maps when tapping the blue button, as well as more info about the event. Last but not least, Who, the third tab view, displays a list of people that are attending PotatoCon, and allows you to see their picture, email, slack, or call them.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/potatocon/potatocon-app.png" srcset="./assets/img/potatocon/potatocon-app.png" alt="PotatoCon App Overview"/>
  </picture>
</section>

<section class="single-column">
  <h3>Final Product</h3>
  <p>
    The app was designed, developed, tested, and distributed in one month, for both iOS and Android platforms. The Android app design followed the Android UI (Material Design) guidelines. Although I worked on this project mostly individually, I constantly collaborated with developers, designers and admins for feedback and improvement. The app was a success, performed well and improved both the admins and attendees experience.
  </p>
</section>

<section class="single-column">
  <h3>PS</h3>
  <p>
    Many thanks to <a href="http://p.ota.to" target="_blank" alt="Potato Website">Potato</a> for an amazing summer internship!
  </p>
</section>
