<nav class="flex">
  <a routerLink="/" routerLinkActive="active">
    <i class="fas fa-long-arrow-alt-left"></i>
    Home
  </a>
</nav>

<section class="title">
  <h1>Broccoli</h1>
  <h2>An Exploratory Concept To Empower The Vegan Community In London</h2>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/broccoli/main_figure.png" srcset="./assets/img/broccoli/main_figure.png" alt="Broccoli Main Figure"/>
  </picture>
</section>

<section class="single-column">
  <h3>Context</h3>
  <p>
    Broccoli was designed as part of the CHI Student Design Competition 2018. For this, we had to use user-centred design approaches to design new ways to support, empower and engage communities. The team and I focused on the London vegan community and adopted an iterative design approach as well as different research methods to ensure our product fits the community needs through constant user feedback.
  </p>
</section>


<section class="single-column">
  <h3>My Role</h3>
  <ul>
      <li> Managed tasks and meetings as team leader </li>
      <li> Requirements gathering </li>
      <li> Created design solutions </li>
      <li> Applied user-centred evaluation techniques on low-fidelity and high-fidelity prototypes </li>
      <li> Conducted usability tests </li>
      <li> Reported findings </li>
  </ul>
</section>

<section class="single-column">
  <h3>Initial Research</h3>
  <p>
    The initial research consisted of secondary research and working with existing sources. We created affinity diagrams, mind maps and proto-personas.
    Affinity diagram of secondary research done with the group with three main themes: veganism, community and engagement.
    From all this we found that we can leverage gamification such as implementing challenges or achievements to motivate the user to stay active. Furthermore, technology such as augmented-reality (AR), customisable avatars and location-based interaction were proven to encourage users to engage.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img src="./assets/img/broccoli/affinity_diagram.jpg" srcset="./assets/img/broccoli/affinity_diagram.jpg" alt="Affinity Diagram"/>
  </picture>
</section>

<section class="single-column">
  <h3>User Research and Findings</h3>
  <p>
    From surveying 70 participants during a vegan festival (VegFest) in person, we found that the London vegans are mostly new to the lifestyle and within the age range of 18-35. We also conducted contextual inquiry to gain insight about how they use technology to engage with their lifestyle and community.
    Our research suggested that London vegans believed that ethical reasons for animal welfare was a strong reason for going vegan, followed by environmental impact and personal health reasons. Furthermore, we learned that vegans relied on technology (i.e., applications, online platforms, social media) for finding food recommendations and also learning relevant information from community members.
    Many vegans feel primarily motivated to sustain a vegan lifestyle by seeing their impact on other living beings and also learning new ways to live ethically. Although the London vegan community used various means of technologies to engage, there was a need for a unified platform.
  </p>
</section>

<section class="single-column">
  <h3>Initial Design</h3>
  <p>
    Since a majority of our participants stated that their main motivation factors are seeing their impact in some capacity and learning new ways of living ethically, initial brainstorming centred on two particular notions: (1) the need for ubiquitous technology and unified platform of getting relevant information on demand, and (2) the visualisation of one’s impact (i.e., interacting with animals) as they engage with their lifestyle.
    Because our studies showed that the vegan community relies heavily on technology to find information, a mobile application was most suitable as smartphones are ubiquitous in our day-to-day lives and the majority of our demographic can incorporate the application into their routines.
  </p>
  <p>
    We focused on three main features within our app:
  </p>
  <ul>
    <li><b>Exploratory View:</b> we chose this as our centre of interaction where community-generated content will be displayed on a map based on current location or a searched area in London.</li>
    <li><b>Augmented Reality (AR):</b> offers a real-world perception and interaction, allowing users to view a real environment with augmented objects, with research suggesting a huge potential in engaging people for concept-learning in education settings and visualising products for consumers.</li>
    <li><b>Avatar:</b> to increase engagement and feeling of involvement, each user will have a customisable avatar representing an animal, vegetable or fruit whose mood changes depending on how much they engage with the community through the app (i.e., attending events, rating businesses).</li>
  </ul>
</section>

<section class="single-column">
  <h3>Storyboarding</h3>
  <p>
    We created some sketches to help our ideation process. As there was a need of a ubiquitous, unified platform, we decided to create a mobile app. I created some storyboards to help visualise how our users would interact with our product.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img srcset="./assets/img/broccoli/storyboard.png" src="./assets/img/broccoli/storyboard.png" alt="Storyboarding"/>
  </picture>
</section>


<section class="single-column">
  <h3>AR Ideation</h3>
  <p>
    One of the challenges was to test the augmented reality (AR). Because actual implementation was not possible, initially, sketching was used to get quick feedback. Some example features are below.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img srcset="./assets/img/broccoli/ar_ideation.png" src="./assets/img/broccoli/ar_ideation.png" alt="AR sketches"/>
  </picture>
</section>

<section class="single-column">
  <p>
    From left to right: <br />
    <b>AR Challenge Concept</b>: a member of community can set challenges which the user can get based on location. A challenge can turn into personal goals and when achieved, a new animal will be rescued.
    <i>*The challenges later turned into personal goals, due to community feedback.</i> <br />
    <b>Stats view in AR</b>: because the community wanted to have more visibility to their environmental impact, we introduced statistics which are displayed at a location. The user can take a photo and share it with the community. <br />
    <b>Share with AR</b>: the user can share the animals rescued from the AR by taking a picture. They can also add text, and location is added automatically. Once they tap share, the new post is on the exploration map.
  </p>
</section>


<section class="single-column">
  <h3>Expert Evaluations</h3>
  <p>
    I created a few wireframes of our mobile app views from sketches to  more high-fidelity user interfaces. As a team, we conducted heuristic evaluation and cognitive walkthrough on them.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img srcset="./assets/img/broccoli/paper_wireframes.png" src="./assets/img/broccoli/paper_wireframes.png" alt="Paper Wireframes"/>
  </picture>
</section>

<section class="single-column">
  <p>
    Following expert evaluation, I changed the tutorial on the first page to a preview of the app and added the tutorial at the end of the first login action, which the user can skip and resume from the app later. I added better spacing and grouping to the input fields for visual clarity and color and underline for links for accessibility.  Headers were also added to follow some of the iOS guidelines.
  </p>
</section>

<section class="full-picture">
  <picture>
    <img srcset="./assets/img/broccoli/wireframes.png" src="./assets/img/broccoli/wireframes.png" alt="Wireframes"/>
  </picture>
</section>

<section class="single-column">
  <h3>User Evaluation</h3>
  <p>
    Applying low-fidelity techniques for rapid prototyping, we built a paper-prototype. Six participants were recruited at a vegan market and asked to navigate the different views and add posts. We encouraged participants to think-aloud as we wanted to gain immediate thoughts and concerns of specific areas of the application. We wanted to learn the following:
  </p>
  <ul>
    <li>Evaluate clarity of overall design.</li>
    <li>Assess the ease of performing core tasks (i.e., select a point of interest from the map and interact with the functionality).</li>
    <li>Decide on whether the usage of AR is effective in displaying the user’s visual impact.</li>
  </ul>
  <p>
    Although this reinforced our main features, it helped establish what in particular is important to the users and what should be further addressed:
  </p>
  <p>
    Firstly, we added more focus and priority to improving the AR functionality and generally making it more functional by adding a stats perspective where users’ surroundings are populated with facts about their environmental impact.
  </p>
  <p>
    Secondly, we changed the point-based rating system from 0 to 5, because we do not want businesses or users to feel competitive in a negative way. We developed the idea of a verified icon that appears if the business/brand on the map has received more than 100 users’ feedback. This will also discourage users from abusing the rating system.
  </p>
  <p>
    Finally, the main performance of the users will be based on engagement and the rewards given to self-accomplishing a set number of chosen activities to improve their community experience. The user’s lifestyle impact is shown in the evolution or state of the AR animals and their avatar. For example, the higher the user engagement with posting content and attending events in the London community, the higher the positive impact with be reflected in the AR camera view (animals and environment statistics).
  </p>
</section>

<section class="single-column">
  <h3>High-Fidelity Prototype & User Test</h3>
  <p>
    To address the changes above, I created a high-fidelity prototype by programming a mobile application, using Angular, that would simulate the main features. This provided users with a more interactive experience by receiving a better look and feel of the app. I separated the main functionalities of our app in three tabs at the bottom of the screen to replicate the mobile platform specific design guidelines.
  </p>
</section>

<section class="single-column center">
  <iframe class="desktop" width="438" height="930" src="//invis.io/NVFLAP0BX8U" frameborder="0" allowfullscreen></iframe>
  <a class="mobile" href="http://invis.io/NVFLAP0BX8U" target="_blank" alt="Link to prototype">Click to view prototype</a>
</section>

<section class="single-column">
  <p>
    <b>Exploratory View</b>
    The users are presented with a map containing all user content based on the location and a small preview of the user post, following our heuristic evaluation. The user can view more details about a post by tapping on the small preview card at the bottom: as mentioned above the post can be about a business (restaurant/brands), an event, a meetup, a question or an announcement.
    <br />
    The user can save a post by tapping the heart icon. They can filter the type of post by tapping the top right button and can add a post themselves by tapping the top left one. The camera button at the top center would open the camera for AR view.
    <br />
    <b>Saved View</b>
    This view is divided into post categories. For the purpose of the demo, we divided them into tips, events and questions. Here, they can view post that they have saved for future reference and also remove them if no longer needed.
    <br />
    <b>Profile View</b>
    Upon clicking the profile tab, users will be able to customise and see their own avatar as well as stats about their activity.
  </p>

  <p>
    We recruited 6 members from the UCL Vegan Society to conduct a usability test and focus group to get feedback about our final product. Similar to our low-fidelity prototype testing, we wanted to know how the participants feel about our product and the implementation of the features. We asked participants to add a post, save a post, view a post and search on the map. We again encouraged them to think-aloud while exploring the prototype. Furthermore, we conducted a focus group to get their ideas on the AR functionality.
    Some feedback below:
  </p>

  <p><i>
    "The AR function seemed quite fun and engaging, and the other functions quite easy to use." <br />
    "Pleasantly surprised! I didn’t know what to expect frankly, but I think it offers something different to the current social media apps." <br />
    "I liked the AR! And the fact that the app gives you points when you eat vegan food." <br />
    "I would love to see a beta version of the app to be able to give more detailed feedback about it." <br />
    "I like the visualisations and unlocking achievements."
  </i></p>
</section>
