@media screen and (max-width: 1185px) {
  .row {
    width: 790px;
  }

  .row:after {
    content: "";
    flex: auto;
  }
}

@media screen and (max-width: 790px) {
  .title {
    margin: 60px !important;
  }

  .single-column {
    margin: 60px !important;
  }

  .row {
    width: 375px;
  }
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 480px) {
  .title {
    margin: 30px !important;
  }

  .single-column {
    margin: 30px !important;
  }

  .row {
    width: 100%;
  }

  .mobile {
    display: flex;
    align-items: center;
  }

  .desktop {
    display: none;
  }

  .icon {
    font-size: 2em;
  }

  p {
    font-size: 1.6em;
  }
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #FCFCFC;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #DD7373;
  padding-bottom: 30px;
}

h1 {
  font-family: inherit;
  color: #D64550;
  font-size: 45px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

h2 {
  font-family: inherit;
  color: #0C0A3E;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-family: inherit;
  color: #0C0A3E;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1;

}

p {
  font-family: inherit;
  color: #363E45;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  margin: 5px 0;
}

a {
  font-size: 18px;
  line-height: 1.2;
  color: #DD7373;
  text-decoration: none;
}

main {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  justify-content: center;
}

.row {
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  background-color: #fff;
  align-items: center;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav a {
  padding-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
