<div class="flex about">
  <div class="about--picture desktop">
    <img src="./assets/img/avatar.jpg" alt="picture of Alexandra" />
  </div>

  <div class="about--info">
    <h1 class="desktop about--title">Alexandra Stoica</h1>

    <div class="mobile">
      <div class="about--picture">
        <img src="./assets/img/avatar.jpg" alt="picture of Alexandra" />
      </div>
      <h1 class="about--title">Alexandra Stoica</h1>
    </div>

    <div class="about--description">
      <p>
      Currently studying MSc Human-Computer Interaction at UCL, London, UK. BSc Web Development (1:1 hons) at WorcUni, UK. Summer 2017 Developer Intern at Potato London.
      Download my resume <a href="https://www.dropbox.com/s/6poact59ui1ed74/Alexandra%20Stoica%20Resume.pdf?dl=1" target="_blank" alt="Resume Download">here</a>.
      </p>
    </div>

    <div class="flex about--social">
      <a class="icon" href="https://uk.linkedin.com/in/alexandrastoica" alt="Linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
      <a class="icon" href="https://github.com/alexandrastoica" alt="Github" target="blank"><i class="fab fa-github"></i></a>
      <a class="icon" href="http://codepen.io/alexandrastoica/" alt="Codepen" target="blank"><i class="fab fa-codepen"></i></a>
      <a class="icon" href="http://twitter.com/alexandra_s95" alt="Twitter" target="blank"><i class="fab fa-twitter"></i></a>
    </div>

  </div>
</div>

<section class="projects">
  <div class="flex grid">
    <div class="flex row">
      <div class="card" routerLink="/broccoli" routerLinkActive="active">
        <div class="card--title">Broccoli: An Exploratory Concept To Empower The Vegan Community In London</div>
        <div class="card-description">As veganism in London expands, the need for a supportive network for vegan Londoners becomes crucial. This was a team project for the Interaction Design (IxD) module, UCL.</div>
        <img class="card--image" src="./assets/img/broccoli/main_figure.png" alt="Broccoli Main Figure" />
        <div class="card--tags">UX; Interaction Design; Community; Team</div>
      </div>

      <div class="card" routerLink="/potatocon" routerLinkActive="active">
        <div class="card--title">PotatoCon</div>
        <div class="card-description">A cross-platform mobile app to manage events, organise attendees and sending hints. Designed and developed by me during my summer internship at Potato.</div>
        <img class="card--image" src="./assets/img/potatocon/potatocon-logo.jpg" alt="PotatoCon Logo" />
        <div class="card--tags">Mobile development; product design</div>
      </div>

      <div class="card" routerLink="/deatapp" routerLinkActive="active">
        <div class="card--title">Dementia Environmental Assessment Tool</div>
        <div class="card-description">Working towards a solution to efficiently and securely gather data for research to make evidence-based way to work with people with dementia for Association of Dementia Studies (ADS), University of Worcester.</div>
        <img class="card--image" src="./assets/img/deat/ehe.png" alt="DEAT" />
        <div class="card--tags">Mobile development; user-centred design</div>
      </div>
    </div>
  </div>
</section>
